/* .topnav {

    background-color: rgb(148, 152, 155);
    
  }
  p{
      color:rgb(3, 129, 187);
      font-size: 28px;
      font-weight: bold;
      
  }
      
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-bottom: black solid;
  }
  
  .topnav a:hover {
    background-color:rgb(172, 185, 189);
    color: black;
  } */

  .ri{
      margin-left: 72%;
  }

  