<app-header></app-header>
<!-- <div class="main-container">
 
  <div class="split left">
    <div class="centered">
      <h2>View Schedule</h2>
      <a href="pharmacy/viewSchedule"><button class="btn btn-outline-primary">View Schedule</button></a>
    </div>
  </div> 
  
  <div class="split right">
    <div class="centered"> -->
      <!-- <img src="https://images.ctfassets.net/uq0sg0aynn6a/3MXdFRx4EB2oHPdiEjq0OL/042c01af2f07d69c487455ae1fa307e8/Pharmacist.jpg" style="width:300x;height:175px;" alt="Place Demand Image"> -->
      <!--
        <h2>Place Demand</h2>
      <a href="pharmacy/placeDemand"><button class="btn btn-outline-primary">Place Demand</button></a>
    </div>
  </div>
</div>  -->


<html>

<head>

</head>

<body>
  <div class="main-container">
  <div class="card" style=" margin-right: 5em;">
    <img src="../../assets/schedule image.jpg" height="55%" class="card-img-top" alt="Calender">
    <div class="card-body">
      <h3 class="card-title">View Schedule</h3>
      <p class="card-text">View medical representatives schedule for next five days.</p>
      <a href="/pharmacy/viewSchedule" class="btn btn-primary">Check Schedule</a>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/placeDemandjpg.jpg" height="55%"  class="card-img-top" alt="">
    <div class="card-body">
      <h3 class="card-title">Place Demand</h3>
      <p class="card-text">View and place an order for the medicines.</p>
      <a href="/pharmacy/placeDemand" class="btn btn-primary">Place Demand</a>
    </div>
  </div>
</div>
</body>
</html>