
<app-header></app-header>
<html>

<head>

    <title>Stock Available</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        
        <h2 class="text-center" style="color:rgb(91, 194, 241); margin-top: 10%;"><b>Stock Available</b></h2><br/> 

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="table-secondary" style="text-align:center">Pharmacy</th>
                    <th class="table-secondary" style="text-align:center">Medicine</th>
                    <th class="table-secondary" style="text-align:center">Stock Available</th>
                </tr>
            </thead>
            <tbody>
                <tr style="border:1px solid rgb(252, 253, 253)" *ngFor="let pharma of data">
                    <td class="table-light" style="text-align:center">{{pharma.pharmacyName}}</td>
                    <td class="table-light" style="text-align:center">{{pharma.medicineName}}</td>
                    <td class="table-light" style="text-align:center">{{pharma.supplyCount}}</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align: center;">
            <a href="pharmacy/placeDemand"><button class="btn btn-outline-primary">Back</button></a>
        </div>
    </div>
</body>
</html>